<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items in Store</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://unpkg.com/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WEB322 Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{#navLink "/about"}}About{{/navLink}}
                    {{#navLink "/shop"}}Shop{{/navLink}}
                    {{#navLink "/items"}}Items{{/navLink}}
                    {{#navLink "/categories"}}Categories{{/navLink}}
                    {{#navLink "/items/add"}}Add Items{{/navLink}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Items 
                    <a href="/items/add" class="btn btn-success pull-right">Add Post</a>
                </h2>
                <hr />

                {{#if items.length}}
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Title</th>
                            <th>Post Date</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Published</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.postDate}}</td>
                            <td>
                                <a href="/items?category={{this.category}}">{{this.category}}</a>
                            </td>
                            <td>${{this.price}}</td>
                            <td>{{#if this.published}}Yes{{else}}No{{/if}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <div class="col-md-12 text-center">
                    <strong>{{message}}</strong>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>